body{
	background-color:#f4f4f4;
	color:black;
	font-family:Arial, Halvetica, sans-serif; 
	font-size:20px;
	line-height: 1.5em;
	margin:center;
	border:10px green solid;
}

#contact-info h2{
	margin:auto;
}
.content{
	text-align: center;
}
.content h1{
	text-decoration: underline;
}
.content h2{
	text-decoration: underline;
}
.content h3{
	text-decoration: underline;
}
a:hover{
	color: red;
}
#container{
	margin-top:20px;
}
#navbar{
	float:left;
	position:relative;
	padding-top: 20px
}
.content{
	text-align: center;
}
#profile-link{
	padding-right: 100px;
	margin: auto;
	text-decoration:underline;
	list-style: none;
	list-style-type: none;
}
#welcome-section{
	color: blue;
	background-color: yellow;
}

.copy{
	color:blue;
	background-color: yellow;
}

































